.news_section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50em;
    border-radius: 3px;
    border: 5px solid $border-primary;
    overflow: auto;    
}

main.main_section section.news_section article{
    display: flex;
    flex-direction: row;

}


.main_section {
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}


section.news_section article img {
    width: 15%;
    margin: 0.5em;
    border: 0.2em solid $border-primary;
    border-radius: 28%;
}    

section.news_section article p {
    font-size: 20px;

}