
@media screen and (max-width: 1000px){

    h1 {
        width: 70%;
    }

    .ul li{
        width: 7em;
        border-radius: 10%;
        margin: 0.1em;
        border: 2px solid $border-primary;
        box-sizing: border-box;
    }

    /*Se activa la visualizacion de las lineas del menu hamburguesa*/

    div.menu span {
        display: block;
    }

    div.menu input { 
        display: block;
    } 




    .ul{
        align-items: center;
        flex-direction: column;
        box-sizing: border-box;
        align-content: space-between;
        display:none;
        justify-content: space-around;
        border: 2px solid $bg-secondary;
    
    }

    main.main_section section.news_section article{
        display: flex;
        flex-direction: column;
    
    }

}

