$color-primary: #8b8b8b;


$font-color1: #000000;
$font-color2: #ffffff;
$primary-color1: #f8dc81;
$primary-color2: #eff7e1;
$primary-color3: #a2d0c1;
$primary-color4: #214151;
$bg-primary: #f7f7e8;
$bg-secondary: #c7cfb7;
$bg-tertiary: #9dad7f;
$bg-quaternary : #557174;
$btn-primary: #8EB1C7;
$btn-secondary: #EB4511;
$btn-tertiary: #EB4511;
$border-primary: #031e2e;
$border-secondary: #031e2e;
$border-tertiary: #031e2e;
$shadow: #2b2713;
$font-primary: "Open Sans", sans-serif;
$font-secondary: "Open Sans", sans-serif;